 $primary: #41A4F5 ;
 $secondary: #2c3e50;

.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: $primary;
    opacity: 1;
}

.divider-light {
    background-color: #fff;
}

.divider-right {
    margin: 1.5rem 0rem;
}

// 3. Include remainder of required Bootstrap stylesheets

@import "./node_modules/bootstrap/scss/bootstrap";